.left-col {
    border-color: #ffffff;
    border: 10px;
    /* background-color: #D0A7F1; */
    height: auto;
    height: 85vh;
    margin: 2px;
}
.row-line {
    overflow: hidden;
}

.head-line {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    color: #ffffff;
}
.input-area {
    width: 70% ;
    border-radius: 30%;
    border-collapse: collapse;
}

#login-window {
    background-color: #25274d;
    /* background-image : linear-gradient(to top right, #25274d,#464866); */
    /* background-image : linear-gradient(to top right, #254E58,#88bdbc);
    background-image : linear-gradient(to top right, #254E58,#88bdbc); */

}

  
