.left-col {
    border-color: #ffffff;
    border: 10px;
    /* background-color: #D0A7F1; */
    height: 85vh;
    margin: 2px;
}
.row-line {
    overflow: hidden;
}
.blog {
    justify-content: center;
    font-size: 40px;
}
.head-line {
    font-size: 30pt;
    color: #ffffff;
}
.input-area {
    width: 70% ;
    border-radius: 30%;
    border-collapse: collapse;
}
#room-created {
    color: #ffffff;
}
#login-window {
     background-image : linear-gradient(to bottom, #25274d,#4f4a41,#6e6658); 
    /* background-image : linear-gradient(to top right, #254E58,#88bdbc);
    background-image : linear-gradient(to top right, #254E58,#88bdbc); */

}

  
